# History files
.Rhistory
.Rapp.history

# Session Data files
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ignoring PPI
*.xlsx
*.html
.DS_Store
self_reported_networks/self reported network markdown.Rmd
self_reported_networks/ERGM Results.docx
*.png
*.jpeg
$.jpg
edge_list_ampandrana_andatsakala_full
*.zip
self_reported_networks/Archive/environment_self_reported.RData
self_reported_networks/Archive/ergm_sarahandrano.RData
self_reported_networks/Archive/ergm_sarahandrano_high_risk.RData
self_reported_networks/Archive/ergm_mandena.RData
self_reported_networks/Archive/ergm_ampandrana_andatsakala.RData
node_degree_table_restricted_animals.RData
high_risk_network_df_mandena.RData
full_network_df_mandena.RData
bipartite_graph_full_network_ampandrana_andatsakala_igraph.RData
edge_list_ampandrana_andatsakala_full.RData
node_degree_table.RData
self_reported_networks/Archive/ergm_ampandrana_andatsakala_high_risk.RData
self_reported_networks/Archive/ergm_mandena_high_risk.RData
*.pdf
*.pptx
*.jpg
self_reported_networks/full_network_ergms 2026.04.06.Rmd
self_reported_networks/.high_risk_network_sensitivty.html.icloud
*.icloud
